<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="042a59db6fa1415fb090ae275686022e" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_042a59db6fa1415fb090ae275686022e = echarts.init(
            document.getElementById('042a59db6fa1415fb090ae275686022e'), 'white', {renderer: 'canvas'});
        var option_042a59db6fa1415fb090ae275686022e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "others",
                    "value": 1643
                },
                {
                    "name": "\u5317\u4eac\u6c11\u6d77\u751f\u7269\u79d1\u6280\u6709\u9650\u516c\u53f8",
                    "value": 93
                },
                {
                    "name": "\u5317\u4eac\u667a\u98de\u7eff\u7af9\u751f\u7269\u5236\u836f\u6709\u9650\u516c\u53f8",
                    "value": 100
                },
                {
                    "name": "\u5317\u4eac\u79d1\u5174\u751f\u7269\u5236\u54c1\u6709\u9650\u516c\u53f8",
                    "value": 236
                },
                {
                    "name": "\u5927\u8fde\u96c5\u7acb\u5cf0\u751f\u7269\u5236\u836f\u6709\u9650\u516c\u53f8",
                    "value": 83
                },
                {
                    "name": "\u534e\u5317\u5236\u836f\u91d1\u5766\u751f\u7269\u6280\u672f\u80a1\u4efd\u6709\u9650\u516c\u53f8",
                    "value": 101
                },
                {
                    "name": "\u534e\u5170\u751f\u7269\u75ab\u82d7\u6709\u9650\u516c\u53f8",
                    "value": 148
                },
                {
                    "name": "\u8fbd\u5b81\u6210\u5927\u751f\u7269\u80a1\u4efd\u6709\u9650\u516c\u53f8",
                    "value": 103
                },
                {
                    "name": "\u4e0a\u6d77\u751f\u7269\u5236\u54c1\u7814\u7a76\u6240\u6709\u9650\u8d23\u4efb\u516c\u53f8",
                    "value": 126
                },
                {
                    "name": "\u6df1\u5733\u5eb7\u6cf0\u751f\u7269\u5236\u54c1\u80a1\u4efd\u6709\u9650\u516c\u53f8",
                    "value": 95
                },
                {
                    "name": "\u6df1\u5733\u8d5b\u8bfa\u83f2\u5df4\u65af\u5fb7\u751f\u7269\u5236\u54c1\u6709\u9650\u516c\u53f8",
                    "value": 91
                },
                {
                    "name": "\u7389\u6eaa\u6c83\u68ee\u751f\u7269\u6280\u672f\u6709\u9650\u516c\u53f8",
                    "value": 118
                },
                {
                    "name": "\u957f\u6625\u751f\u7269\u5236\u54c1\u7814\u7a76\u6240\u6709\u9650\u8d23\u4efb\u516c\u53f8",
                    "value": 99
                },
                {
                    "name": "\u957f\u6625\u957f\u751f\u751f\u7269\u79d1\u6280\u6709\u9650\u8d23\u4efb\u516c\u53f8",
                    "value": 162
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                500,
                300
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "others",
                "\u5317\u4eac\u6c11\u6d77\u751f\u7269\u79d1\u6280\u6709\u9650\u516c\u53f8",
                "\u5317\u4eac\u667a\u98de\u7eff\u7af9\u751f\u7269\u5236\u836f\u6709\u9650\u516c\u53f8",
                "\u5317\u4eac\u79d1\u5174\u751f\u7269\u5236\u54c1\u6709\u9650\u516c\u53f8",
                "\u5927\u8fde\u96c5\u7acb\u5cf0\u751f\u7269\u5236\u836f\u6709\u9650\u516c\u53f8",
                "\u534e\u5317\u5236\u836f\u91d1\u5766\u751f\u7269\u6280\u672f\u80a1\u4efd\u6709\u9650\u516c\u53f8",
                "\u534e\u5170\u751f\u7269\u75ab\u82d7\u6709\u9650\u516c\u53f8",
                "\u8fbd\u5b81\u6210\u5927\u751f\u7269\u80a1\u4efd\u6709\u9650\u516c\u53f8",
                "\u4e0a\u6d77\u751f\u7269\u5236\u54c1\u7814\u7a76\u6240\u6709\u9650\u8d23\u4efb\u516c\u53f8",
                "\u6df1\u5733\u5eb7\u6cf0\u751f\u7269\u5236\u54c1\u80a1\u4efd\u6709\u9650\u516c\u53f8",
                "\u6df1\u5733\u8d5b\u8bfa\u83f2\u5df4\u65af\u5fb7\u751f\u7269\u5236\u54c1\u6709\u9650\u516c\u53f8",
                "\u7389\u6eaa\u6c83\u68ee\u751f\u7269\u6280\u672f\u6709\u9650\u516c\u53f8",
                "\u957f\u6625\u751f\u7269\u5236\u54c1\u7814\u7a76\u6240\u6709\u9650\u8d23\u4efb\u516c\u53f8",
                "\u957f\u6625\u957f\u751f\u751f\u7269\u79d1\u6280\u6709\u9650\u8d23\u4efb\u516c\u53f8"
            ],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u836f\u5382\u751f\u4ea7\u75ab\u82d7\u5360\u6bd4"
        }
    ]
};
        chart_042a59db6fa1415fb090ae275686022e.setOption(option_042a59db6fa1415fb090ae275686022e);
    </script>
</body>
</html>
